<% layout("/layouts/boilerplate")%>
<div class="row">
<div class="col-8  offset-2">
<form method="post" action="/listings/<%=listing._id%>?_method=PUT">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="listing[title]" class="form-control" value="<%=listing.title%>" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">description</label>
      <textarea name="listing[description]" class="form-control" rows="4" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;"><%=listing.description%> </textarea>
  </div>
    <div class="mb-3">
    <label for="image" class="form-label">image/url</label>
      <input name="listing[image.url]" value="<%=listing.image.url%>" class="form-control" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
  </div>
  <div class="row">
  <div class="mb-3 col-4">
    <label for="price" class="form-label">price</label>
      <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
  </div>
  <div class="mb-3 col-8">
    <label for="country" class="form-label">country</label>
      <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
  </div>
  </div>
  <div class="mb-3">
    <label for="location" class="form-label">location</label>
      <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
    </div>
<button class="mb-3 btn btn-dark edit-btn">Edit</button>
</form>
</div>
</div>

